@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif
}

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden !important; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible !important; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms !important; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4 !important; transform: scale(0.9) !important; }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1 !important; transform: scale(1) !important; transition-delay: 0ms, 0ms !important; }
/* Fade in the currently hovered item */

.custom-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
  width: 380px;
  height: 220px;
  margin: 0 auto;
  border-radius: 0%;
  border: n;
}

.custom-modal .ant-modal-body {
  text-align: center;
  font-size: 16px;
  color: #fff;
}

/* .custom-modal .ant-modal-close {
  display: none;
} */

